@media only screen and (max-width: 815px) {
    #navbar {
        background-color: white;
        position: inherit;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        border: none;
        z-index: 1;
    }
    #navbar ul {
        height: 207px;
    }
    #main-doc {
        width: 100%;
        margin-left: 0 !important;
    }
    .navbar-toggler{
        margin-left: auto;
    }
}

body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    margin: 10px;
}

h3 {
    margin: 15px;
}

span {
    margin:15px;
}

.navbar {
    width: 300px;
    height: 100%;
    position: fixed;
    text-align: center;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

.container-fluid {
    justify-content: center !important;
}
code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: rgb(230, 230, 230);
    padding: 15px;
    margin: 10px;
    color: blue;
  }
  p{
    padding: 15px;
  }

  .main-section{
    padding: 30px;
        background-color: rgb(255,255,255);
    margin-bottom: 20px;
  }

  .bg-light {
    background-color:rgb(55,66,74)!important;
    border-radius: 0px
}
.nav-link{
    border-radius: 0px;
}
.nav-link:hover{
    background-color: #a5cff157!important;
    color: white;
}
.title-nav {
    margin: 10px 10px 10px 10px;
    font-size:xx-large;
    color: aliceblue;
}
a {
    color: white;
}
hr {
    border: 15px;
    color:rgb(230, 230, 230)
}